.main {
  width: 100%;
  max-width: 700px;
  cursor: pointer;
  margin: 0 auto;
}

.slider {
  border: 1px solid #ffffff3b;
  border-radius: 15px;
  overflow: hidden;
}

.prevArrow {
  color: #fff;
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: #000000;
  border-radius: 25px 0px 0px 0px;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 30px;
  width: 30px;
  height: 30px;
}

.arrowPrev {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.nextArrow {
  color: #fff;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.arrowNext {
  transform: rotate(180deg);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  .prevArrow {
    right: 50px;
    width: 50px;
    height: 50px;
  }

  .nextArrow {
    width: 50px;
    height: 50px;
  }

  .arrowPrev {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .arrowNext {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}